<style>
      img {
        display: block;
        width: 200px;
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
      }
      .bold {
        font-weight: bold;
      }
      .centre {
        text-align: center;
        align-items: center;
      }

      /* Create two columns that floats next to each other */
      .columns {
        width: 100%;
      }
      .column-1,
      .column-2 {
        width: 100%;
      }
      @media (min-width: 48em) {
        .column-1 {
          padding: 1%;
          width: 20%;
          float: left;
        }
        .column-2 {
          padding: 1%;
          width: 76%;
          float: left;
        }

        /* Clear floats after the columns */
        .columns {
          content: "";
          display: table;
          clear: both;
        }
      }
      .col {
        width: 100%;
      }
      .col-1,
      .col-2 {
        width: 100%;
      }
      @media (min-width: 20em) {
        .col-1 {
          width: 10%;
          float: left;
        }
        .col-2 {
          width: 90%;
          float: left;
        }
        .cols {
          content: "";
          display: table;
          clear: both;
        }
      }
    </style>
/* Referring:
https://www.w3schools.com/css/css3_images.asp
https://www.w3schools.com/cssref/pr_background-color.asp
https://www.geeksforgeeks.org/how-to-insert-spaces-tabs-in-text-using-html-css/#:~:text=The%20tab%20character%20can%20be,pressing%200%20and%209%20together.&text=A%20new%20class%20can%20be,pixels%20specified%20in%20this%20property.
https://devpractical.com/divide-div-into-three-columns/
https://www.teachucomp.com/create-html-bullet-points-instructions/
*/
